---
 const personalImageAlt = "Fernando de la Torre Cueva"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
  <p>
    
Hello, everyone. I'm Fernando de la Torre Cueva, though most people know me as Pobe. Ten years ago, I embarked on my journey into the world of programming, and since then, I've been deeply immersed in it. Currently,<strong> I find myself at the forefront of developing crucial data analytics systems for multinational corporations</strong>.

<p>
  Throughout my career, I've achieved significant milestones. One of my notable accomplishments includes crafting a robust management system tailored specifically for companies within the healthcare sector. Additionally,<strong> I played a pivotal role in the development of an inventory management system for a prominent logistics multinational</strong>. These experiences have honed my skills and provided me with invaluable insights into the intricacies of software development.
</p>

<p>
  Armed with a solid foundation in data engineering and a track record of successful analytics projects for multinational entities, I stand ready to offer innovative technical solutions and deliver impactful results. <strong> As a freelance developer, I bring forth a wealth of expertise and a commitment to excellence, making me an ideal choice for your next development endeavor</strong>.
</p>

  </div>

  <img width="200" height="200" src="/ftcueva/fer.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
