---
 const personalImageAlt = "Fernando de la Torre Cueva"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
  <p>
    My name is Fernando de la Torre Cueva, but my friends call me Pobe. I started programming 10 years ago. Currently, I am <strong>developing important data analytics systems for multinational companies</strong>.
</p>

<p>
    Some of my successes include <strong>Developing a management system from scratch for companies in the healthcare sector</strong>. I have also <strong>collaborated in the creation of an inventory management system for a logistics multinational</strong>.
</p>

<p>
  With a strong background in data engineering and proven expertise in analytics projects for multinational companies, I offer innovative technical solutions and impactful results as a freelance option for development projects. 
</p>

  </div>

  <img width="200" height="200" src="/ftcueva/fer.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
