---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Currently",
    title: "Senior Big Data Engineer",
    company: "Mecalux S.A.",
    description: "As a Senior Data Engineer, I serve as the technical entry point for a team of highly skilled professionals. In this role, I focus on harnessing customer insights and leveraging advanced algorithms to develop solutions that optimize logistics operations, particularly in the realm of controlling robotic systems. My responsibilities encompass guiding the team in delivering impactful results, collaborating with stakeholders to identify technical requirements, and driving innovation in data-driven decision-making processes."
  },
  {
    date: "December 2020",
    title: "Data Engineer",
    company: "Accenture",
    description: "I began my journey in the realm of data by immersing myself in supply planning projects, where I honed my skills in algorithm development and forecasting. My primary focus revolved around creating and optimizing algorithms to enhance supply chain efficiency and accuracy. Through this experience, I gained valuable insights into the intersection of data science and operational optimization, laying a solid foundation for my career in the data-driven world."
  },
  {
    date: "October 2018",
    title: "Principal IT Consultant",
    company: "Asturias Dolor S.L.",
    description: "During the digital transformation of the company, I seized the opportunity to lead a small IT department. In this role, I spearheaded the development of various projects focusing on the healthcare industry and leveraging modern web technologies. This experience allowed me to blend my technical expertise with industry-specific knowledge, contributing to the advancement of digital solutions tailored to the healthcare sector."
  },
  {
    date: "June 2017",
    title: "Web Developer",
    company: "Iricom",
    description: "As I ventured into professional life, I began my journey in software development by focusing on Content Management Systems (CMS) using Microsoft stack technologies. This early experience laid the foundation for my technical skills and shaped my career path in the field of technology."
  },
]

---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
