---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Currently",
    title: "Senior Big Data Engineer",
    company: "Mecalux S.A.",
    description: "As a Senior Data Engineer, I lead a team of proficient professionals, spearheading initiatives to capitalize on customer insights and deploy sophisticated algorithms. Through this role, I have successfully pioneered solutions that streamline logistics operations, with a specific emphasis on enhancing control over robotic systems. My achievements include guiding the team to deliver significant outcomes, collaborating closely with stakeholders to identify precise technical needs, and driving innovation in data-driven decision-making methodologies."
  },
  {
    date: "December 2020",
    title: "Data Engineer",
    company: "Accenture",
    description: "I embarked on my data journey by actively engaging in supply planning projects, strategically focusing on advancing algorithm development and forecasting techniques. My pivotal contributions centered on crafting and refining algorithms to elevate supply chain efficiency and precision. This endeavor provided me with profound insights into the synergy between data science and operational enhancement, thereby establishing a robust groundwork for my ongoing endeavors in the data-driven domain."
  },
  {
    date: "October 2018",
    title: "Principal IT Consultant",
    company: "Asturias Dolor S.L.",
    description: "Throughout the company's digital transformation journey, I capitalized on the chance to lead a compact yet dynamic IT department. In this capacity, I orchestrated the successful execution of diverse projects, with a keen focus on the healthcare domain and the integration of cutting-edge web technologies. This hands-on involvement enabled me to synergize technical proficiency with industry insights, thereby propelling the creation of bespoke digital solutions tailored specifically for the healthcare landscape."
  },
  {
    date: "June 2017",
    title: "Web Developer",
    company: "Iricom",
    description: "In my early professional endeavors, I embarked on a software development journey centered around Content Management Systems (CMS) utilizing Microsoft stack technologies. This foundational experience not only honed my technical acumen but also paved the way for my continued growth and specialization within the technology sector."
  },
]

---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
