---

---

  <div class="p-4">
    <ul>
      <li class="mb-4">
        <span class="font-semibold">Spanish -</span>
        <span class="text-gray-700"> Native Language</span>
        <div class="flex">
          <div class="bg-green-400 h-6 w-6 mr-2 rounded-full"></div>
          <div class="bg-green-400 h-6 w-6 mr-2 rounded-full"></div>
          <div class="bg-green-400 h-6 w-6 mr-2 rounded-full"></div>
          <div class="bg-green-400 h-6 w-6 mr-2 rounded-full"></div>
          <div class="bg-green-400 h-6 w-6 rounded-full"></div>
        </div>
      </li>
      <li class="mb-4">
        <span class="font-semibold">English -</span>
        <span class="text-gray-700"> Professional</span>
        <div class="flex">
          <div class="bg-green-400 h-6 w-6 mr-2 rounded-full"></div>
          <div class="bg-green-400 h-6 w-6 mr-2 rounded-full"></div>
          <div class="bg-green-400 h-6 w-6 mr-2 rounded-full"></div>
          <div class="bg-green-400 h-6 w-6 mr-2 rounded-full"></div>
          <div class="bg-gray-300 h-6 w-6 rounded-full"></div>
        </div>
      </li>
      <li class="mb-4">
        <span class="font-semibold">French -</span>
        <span class="text-gray-700"> A2</span>
        <div class="flex">
          <div class="bg-green-400 h-6 w-6 mr-2 rounded-full"></div>
          <div class="bg-gray-300 h-6 w-6 mr-2 rounded-full"></div>
          <div class="bg-gray-300 h-6 w-6 mr-2 rounded-full"></div>
          <div class="bg-gray-300 h-6 w-6 mr-2 rounded-full"></div>
          <div class="bg-gray-300 h-6 w-6 rounded-full"></div>
        </div>
      </li>
    </ul>
  </div>

