---
import Python from "./Icons/Python.astro"
import Chatbot from "./Icons/Chatbot.astro"
import NextJS from "./Icons/NextJS.astro"
import Tailwind from "./Icons/Tailwind.astro"
import AstroSVG from "./Icons/AstroSVG.astro"

const TAGS = {
  PYTHON: {
    name: "Python",
    class: "bg-black text-white",
    icon: Python,
  },
  CHATBOT: {
    name: "Chatbot",
    class: "bg-[#003159] text-white",
    icon: Chatbot,
  },
  NEXTJS: {
    name: "NextJS",
    class: "bg-[#003159] text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind css",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  ASTRO: {
    name: "Astro",
    class: "bg-[#003159] text-white",
    icon: AstroSVG,
  },
}

const tableElements = [
    {
        tag: TAGS.PYTHON,
        level: "Expert",
    },
    {
        tag: TAGS.ASTRO,
        level: "Advanced",
    },
    {
        tag: TAGS.NEXTJS,
        level: "Advanced",
    },
    {
        tag: TAGS.CHATBOT,
        level: "Advanced",
    },
    {
        tag: TAGS.TAILWIND,
        level: "Advanced",
    },
    
]

---
<table class="min-w-full divide-y divide-gray-200">
    <thead>
        <tr>
            <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Technology
            </th>
            <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Level
            </th>
        </tr>
    </thead>
    <tbody>
        {tableElements.map((element) => (
        <tr>
            <td>
                <span class={`flex items-center gap-x-2 rounded-full text-xs ${element.tag.class} py-1 px-2`}>
                    <element.tag.icon class="w-6 h-6" />
                    {element.tag.name}
                </span>
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-center text-yellow-500">
                {element.level}
            </td>
        </tr>
        ))}
    </tbody>
</table>
